<% @restaurant.each do |restaurant|%>
  <div class="row">
    <div class="image col-4 mb-4">
        <%= image_tag restaurant.image.url %>
    </div>
    <div class="card-deck mb-3 text-left col-8">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <strong><%= link_to restaurant.restaurant_name, restaurant_path(restaurant.id), class: "btn btn-danger btn-md my-2 my-sm-0" %></strong>
        </div>
        <div class="card-body">
          <h4><%= restaurant.restaurant_category.name %></small></h4>
          <ul class="list-unstyled text-muted mt-3 mb-4">
            <li> <%= restaurant.address %></li>
          </ul>
        </div>  
      </div>
    </div>
  </div>
<% end %>

